.advantages {
  display: table-header-group;
  background-color: #F8FBFF;

  &__wrapper {
    margin-top: 123px;
    padding: 0 16px;

    @media (min-width: $tablet-width) {
      padding: 0 80px;
    }
  }

  &__header {
    position: relative;
    font-size: 24px;
    line-height: 28.13px;
    text-align: center;
    margin: 0;
    padding-top: 60px;

    &::before {
      position: absolute;
      content: "";
      width: 184px;
      height: 4px;
      background: #00C368;
      top: 40px;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &__about {
    text-align: center;
    line-height: 24px;
    margin: 15px 0 0 0;
  }

  &__accord {
    margin-top: 31px;
  }
}


@media (min-width: $desktop-width) {
  .advantages {
    display: table-cell;
    width: 960px;
    min-height: 100%;
    margin-top: 0;
    padding: 0;

    &__wrapper {
      margin-top: 114px;
      padding: 0;
    }

    &__header {
      font-size: 40px;
      line-height: 60px;
      text-align: center;
      margin: 0 140px;
      padding: 0;
      &::before {
        top: -10px;
      }
    }

    &__about {
      text-align: center;
      line-height: 12px;
      margin: 15px 0 0 0;
    }

    &__accord {
      padding: 0 89px 0 87px;
      margin-top: 7px;
    }
  }
}
