.feedback {
  margin: 0;
  padding: 0 16px;

  &__main-section {
    margin-top: 91px;
  }

  &__main-text-wrapper {
    position: relative;
    border: 1px solid;
    box-shadow: 0px 8px 16px rgba(0, 195, 104, 0.24);
    border-radius: 32px;
    border-image-source: linear-gradient(318.43deg, rgba(0, 195, 104, 0.4) 0%, rgba(0, 195, 104, 0) 99.05%);
  }

  &__main-text-block{
    text-align: center;
  }

  &__main-text {
    line-height: 24px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 62px 16px 0 16px;
  
    &::before {
      position: absolute;
      content: "";
      width: 40px;
      height: 26px;
      background: url("../img/quotes.svg") 0 0 no-repeat;
      top: 23px;
      left: 14px;
    }

    &::after {
      position: absolute;
      content: "";
      width: 40px;
      height: 26px;
      background: url("../img/quotes.svg") 0 0 no-repeat;
      top: 23px;
      right: 15px;
      transform: rotate(180deg);
    }
  }

  &__main-photo {
    position: absolute;
    top: -54px;
    left: 50%;
    transform: translateX(-50%);
  }

  &__main-sign {
    font-weight: 700;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

// второй блок
  &__second-text-wrapper {
    position: relative;
    margin-top: 40px;
  }

  &__second-photo {
    position: absolute;
    top: -2px;
  }

  &__second-text-block {
    line-height: 24px;
    width: 196px;
    height: 160px;
    margin: 0 0 0 84px;
    text-align: left;
  }

  &__second-sign,
  &__third-sign {
    font-weight: 700;
  }

  // третий блок
  &__third-photo {
    position: absolute;
    top: -2px;
    right: -90px;
  }

  &__third-text-wrapper {
    position: relative;
    line-height: 24px;
    width: 196px;
    height: 160px;
    margin-top: 23px;
    margin-left: 3px;
  }
}