.feedback {
  display: block;
  margin: 0 auto;
  padding: 0 16px;

  &__main-block {
    position: relative;
    border: 1px solid;
    box-shadow: 0px 8px 16px rgba(0, 195, 104, 0.24);
    border-radius: 32px;
    border-image-source: linear-gradient(318.43deg, rgba(0, 195, 104, 0.4) 0%, rgba(0, 195, 104, 0) 99.05%);
    margin-top: 91px;
  }

  &__main-text {
    position: relative;
    line-height: 24px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 62px 16px 0 16px;
    text-align: center;
  
    &::before {
      position: absolute;
      content: "";
      width: 40px;
      height: 26px;
      background: url("../img/quotes.svg") 0 0 no-repeat;
      top: 23px;
      left: 14px;
    }

    &::after {
      position: absolute;
      content: "";
      width: 40px;
      height: 26px;
      background: url("../img/quotes.svg") 0 0 no-repeat;
      top: 23px;
      right: 15px;
      transform: rotate(180deg);
    }
  }

  &__main-photo {
    position: absolute;
    top: -54px;
    left: 50%;
    transform: translateX(-50%);
  }

  &__main-sign {
    font-weight: 700;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
  }

// второй блок
  &__second-block {
    margin-top: 40px;
  }

  &__second-photo {
    position: relative;
    float: left;
    margin-right: 5px;
    height: 160px;
  }

  &__second-text-block {
    line-height: 24px;
    margin-right: 8px;
  }

  &__second-sign,
  &__third-sign {
    font-weight: 700;
  }

  // третий блок
  &__third-block {
    line-height: 24px;
    margin-top: 24px;
  }

  &__third-photo {
    position: relative;
    float: right;
    height: 160px;
    margin-left: 9px;
  }

  &__third-text-block {
    margin: 0 0 0 4px;
  }
}

@media (min-width: $desktop-width) {
  .feedback {
    position: relative;
    float: left;
    background-color: #F5F5F5;
    width: 960px;
    padding: 0 0 60px 0;

    &__blocks {
      width: 800px;
    }

    &__main-block {
      border: none;
      box-shadow: none;
      margin: 50px 0 0 0;
    }

    &__main-text-block {
      padding: 0 73px 0 103px;
    }

    &__main-pic {
      display: block;
      width: 245px;
      height: 245px;
    }

    &__main-photo {
      position: relative;
      float: left;
      top: -10px;
      left: 85px;
      margin-left: 39px;
    }

    &__main-text {
      border: none;
      box-shadow: none;
      text-shadow: none;
      text-align: left;
      margin: 0;
      padding: 0;

      &::before {
        top: 0;
        left: 228px;
        background-color: green;
      }
  
      &::after {
        top: 186px;
        right: -10px;
        background-color: green;
      }
    }

    &__main-sign {
      text-shadow: none;
      text-align: left;
    }

    &__blocks {
      position: relative;
      display: block;
      margin: 100px 0 0 0;
      padding: 0 0 0 130px;
    }

// второй блок
    &__second-block {
      clear: left;
      float: left;
      width: 367px;
    }

    &__second-photo {
      position: relative;
      float: right;
      width: 125px;
      height: 125px;
      top: -13px;
      left: -5px;
    }
    
    &__second-pic {
      width: 125px;
      height: 125px;
    }

    &__second-text {
      margin: 0;
    }

// третий блок
    &__third-block {
      position: relative;
      float: right;
      width: 350px;
      margin-right: 78px;
    }

    &__third-photo {
      position: relative;
      float: left;
      margin-left: -15px;
      top: -13px;
      left: -10px;
    }

    &__third-pic {
      width: 125px;
      height: 125px;
    }
  }
}