.info-block {
  &__logo-img {
    width: 640px;
    margin-top: 21px;
    padding: 0;
  }

  &__text {
    position: absolute;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    width: 288px;
    height: 56px;
    top: 290px;
    margin: 0;
    padding: 0 16px;
  }
}