.page-main {
  &__info-block {
    margin: 0 auto;
    padding: 0;
  }
  
  &__block-logo {
    display: block;
    margin-top: 20px;
    padding: 0;
  }
  
  &__logo-img {
    display: block;
    width: 420px;
    margin: 0 auto;
    padding: 0;
  }
  
  &__text {
    font-size: 24px;
    line-height: 28px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    margin-top: -82px;
    padding: 0 16px;
  }

  &__secondary-blocks-wrapper {
    display: table-row;
    width: 100%;
  }
}

@media (min-width: 1300px) and (max-width: $desktop-width) {
  .page-main {
    &__info-block {
      width: 100%;
      height: 942px;
      margin: 0 auto;
      background: url("../img/background@1x.png") 0 0 no-repeat;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background: url("../img/background@2x.png") 0 0 no-repeat;
      }
    }
  
    &__block-logo {
      position: relative;
      margin-top: 82px;
    }
  
    &__logo-img {
      position: absolute;
      width: 600px;
      top: 400px;
      left: 35.6%;
    }
    
    &__text {
      position: relative;
      font-size: 40px;
      line-height: 47px;
      margin-left: 89px;
      padding: 100px 0 0 0;
      text-align: center;
  
      &::before {
        position: absolute;
        content: "";
        width: 184px;
        height: 4px;
        background: #00C368;
        top: 75px;
        left: 50%;
        transform: translateX(-50%);
      }
    }

    &__secondary-blocks-wrapper {
      width: 100%;
      height: 829px;
    }
  }
}