.text-block {
  margin-top: 67px;
  padding: 0 16px;
  background-color: #F8FBFF;

  &__header {
    position: relative;
    font-size: 24px;
    line-height: 28.13px;
    text-align: center;
    margin: 0;
    padding-top: 60px;

    &::before {
      position: absolute;
      content: "";
      width: 184px;
      height: 4px;
      background: #00C368;
      top: 40px;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &__about {
    text-align: center;
    line-height: 24px;
    margin: 15px 0 0 0;
  }

  &__accord {
    margin-top: 31px;
  }
}

@media (min-width: $desktop-width) {
  .text-block {
    margin-top: 0;

    &__wrapper {
      position: relative;
      float: right;
      width: 960px;
    }

    &__header {
      &--feedb {
        font-size: 40px;
        line-height: 48.66px;
        text-align: center;
        padding: 121px 80px 0 80px;

        &::before {
          top: 100px;
        }
      }
    }
  }
}
