@import "global/variables.scss";
@import "global/global.scss";
@import "blocks/page-header.scss";
@import "blocks/info-block.scss";
@import "blocks/slider.scss";
@import "blocks/advantages.scss";
@import "blocks/accord.scss";
@import "blocks/feedback.scss";
@import "blocks/main-nav.scss";
@import "blocks/site-list.scss";