@import "global/variables.scss";
@import "global/global.scss";
@import "blocks/main-header.scss";
@import "blocks/info-block.scss";
@import "blocks/slider.scss";
@import "blocks/text-block.scss";
@import "blocks/accord.scss";
@import "blocks/feedback.scss";